<header>
        <nav>
            <ul>
                <li><a href="">Mangas</a></li>
                <li><a href="">Goodies</a></li>
                <li><a href="">Comics</a></li>
            </ul>
        </nav>
    </header>