{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
{% if (app.user is empty) %}
<div class="acces-interdit_non-utilisateur">
    <h2>acces interdit</h2>
        <p>vous devez etre un utilisateur pour acceder au panier...</p>
    <a href="{{path('app_login')}}">vous connecter</a><a href="{{path('app_register')}}">vous inscrire</a>
</div>
{%else%}

<div class="panier-presentation">

<h2>Panier</h2>

{% if (cart is empty) %}

<p>Votre panier est vide...  <br>
voulez vous le remplir avec des <a href="{path(_)}">produits ?</a>   </p>

{% else %}
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
        <th>Total</th>
    </tr>
    </thead>
<tbody>
{% for id, product in cart %}
<tr>
    <td>{{ produit.name }}</td>
    <td>{{ produit.prix }}</td>
</tr>
{% endfor %}
{% endif %} 
{% endif %} 
{# a developper #}
</tbody>


</table>


<p><i class="fa-solid fa-trash"></i> ce symbole est pour la partie supprimer</p>

</div>
{% endblock %}
