{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}


	<h1>test</h1>

	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cupiditate voluptatem ratione voluptas voluptatibus architecto quas officiis ut provident enim eveniet a vitae, tempora accusamus. Minus repellat quasi deleniti eius?


{% endblock %}
