{% extends 'base.html.twig' %}


{% block title %}Termes et Conditions
{% endblock %}

{% block body %}

	<main>
		<div id="full">


			<h1>termes et conditions
			</h1>

			<div class="cgv">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ipsam odit similique est eius possimus sequi harum, veniam ea aperiam obcaecati dolore, voluptatem cupiditate iure sit suscipit architecto quia nulla nihil hic reiciendis qui incidunt id esse? Laborum facere animi maiores, ratione laboriosam accusantium repellendus. Illo necessitatibus libero voluptate inventore.
				</p>

				<h2>test</h2>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat accusamus maxime nobis beatae, numquam similique dolorum autem officia saepe odio debitis impedit ducimus, quia voluptas vero at laudantium itaque distinctio.
				</p>


			</div>

		</div>

	</main>


{% endblock %}
