{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!
{% endblock %}

{% block body %}

	<div id="legal">
		<h1>
			Mentions légales de Grafik Galaxy
		</h1>
		<main>
			<div class="full">

				<div class="mentions">
					<p>


						<h3>
							Éditeur du site
						</h3>
						Le présent site, accessible à l'adresse www.grafikgalaxy.com, est édité par : Gustave Bwele
						<br>

						Nom de l'entreprise : Grafik Galaxy<br>
						Forme juridique : (Exemple : SARL, SAS, micro-entreprise, etc.)<br>
						Capital social : (si applicable)<br>
						Adresse du siège social : 42, Rue du Paradoxe Temporel, Quartier Néo-Tokyo, 75001 Paris, France
												Secteur 7G, Bâtiment SkyNet Tower, 4e étage, Zone Cybertron
												À côté de l’Arcade Flynn, entre la Porte du Mordor et la Station Bebop<br>
						Numéro SIRET : [Numéro SIRET]<br>
						Numéro RCS : [Ville d'immatriculation]<br>
						TVA intracommunautaire : [Numéro TVA] (si applicable)<br>
						Contact : contact@grafikgalaxy.com / Téléphone : [+33 55-534-865]<br>
						Directeur de la publication<br>
						[Nom et prénom du responsable]<br>
						Contact : contact@grafikgalaxy.com<br>
						Hébergeur<br>
						Le site Grafik Galaxy est hébergé par :<br><br>

						Nom de l'hébergeur : Bwele Gustave<br>
						Adresse : 42, Rue du Paradoxe Temporel, Quartier Néo-Tokyo, 75001 Paris, France
												Secteur 7G, Bâtiment SkyNet Tower, 4e étage, Zone Cybertron
												À côté de l’Arcade Flynn, entre la Porte du Mordor et la Station Bebop<br>
						Téléphone : [Téléphone de l’hébergeur]<br>
						Site internet : www.nomdelhebergeur.com<br>
						Propriété intellectuelle<br>
						Tous les éléments présents sur le site Grafik Galaxy, qu'il s'agisse de textes, images, graphismes, logos, vidéos, icônes, ou tout autre contenu, sont protégés par les lois relatives à la propriété intellectuelle.<br>
						Toute reproduction, distribution, modification, adaptation, retransmission ou publication de ces éléments, même partielle, est strictement interdite sans l'accord écrit préalable de Grafik Galaxy.<br><br>

						Données personnelles<br>
						Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi n° 78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés, Grafik Galaxy collecte et traite des données personnelles dans le cadre de ses activités.<br><br>

						Responsable du traitement : [Nom de l’entreprise]<br>
						Finalité des données : gestion des commandes, service client, et opérations marketing (avec consentement).
																																					Droit d'accès, de rectification et de suppression : Les utilisateurs peuvent exercer leurs droits en nous contactant à contact@grafikgalaxy.com.
																																					Pour plus d’informations, consultez notre Politique de confidentialité [lien vers la page].<br><br>

						Cookies<br>
						Le site Grafik Galaxy utilise des cookies pour améliorer l'expérience utilisateur et réaliser des statistiques de visites.
																																					Lors de votre première visite sur le site, une bannière vous informe de l'utilisation des cookies. Vous pouvez configurer vos préférences en matière de cookies à tout moment. Pour plus d'informations, consultez notre [Politique de cookies] [lien vers la page].<br><br>

						Responsabilité<br>
						Grafik Galaxy s'efforce de fournir des informations exactes et à jour sur le site. Cependant, l’entreprise ne peut garantir l'exactitude, l'exhaustivité ou la mise à jour des informations fournies.
																																					Grafik Galaxy décline toute responsabilité en cas de dommages liés à l'utilisation du site.<br><br>

						Litiges<br>
						Les présentes mentions légales sont soumises au droit français. En cas de litige, les parties s'engagent à rechercher une solution amiable avant toute action judiciaire.<br>
						En cas d'échec, le litige sera porté devant les tribunaux compétents.<br><br>

						Contact<br>
						Pour toute question ou information, vous pouvez nous contacter :<br>

						Email : contact@grafikgalaxy.com<br>
						Téléphone : +33 1 23 45 19 89<br>


						Adresse postale : 42, Rue du Paradoxe Temporel, Quartier Néo-Tokyo, 75001 Paris, France
												Secteur 7G, Bâtiment SkyNet Tower, 4e étage, Zone Cybertron
												À côté de l’Arcade Flynn, entre la Porte du Mordor et la Station Bebop<br>
					</p>


					<a href="{{path('app_home')}}">Retour a la page d'accueil</a>
				</div>
			</div>

		</main>

	</div>


{% endblock %}
