{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div id="full">
  
     
        <div class="presentation">
     
         <h3>Graphik Manga</h3>
         p
        </div>


        <div class='carousel' >


        <div>

        <section>
        
        </section>

<div class="confiance">
<h3>Ils nous ont fait confiance</h3>
<p>
un carousel de commentaires
</p>
<div class="">
<p>fan de l'univers geek et pop culture, l'equipe de graphik manga a voulu créer un site qui permet aux personnes de pouvoir posseder de magnifiques goodies </p></div>
</div>


        </div>

        </div>

</div>


{% endblock %}
