{% extends 'base.html.twig' %}



{% block body %}

<div id="full">
  
     
        <div class="presentation">
     
         <h3>Graphik Manga</h3>
         
        </div>


        <div class='carousel' >


        <div>

        <section>
        
        </section>

<div class="confiance">
<h3>Ils nous ont fait confiance</h3>
<p>
un carousel de commentaires
</p>
<div class="qui">

</div>


        </div>

        </div>

</div>


{% endblock %}
