{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

<div class="panier-presentation">

<h2>Panier</h2>

<h4></h4>

</div>
   
</div>

<div>

<p><i class="fa-solid fa-trash"></i> ce symbole est pour la partie supprimer</p>

</div>
{% endblock %}
